{% extends 'base.html' %}
{% block title%}Products Page {% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/productlist.css' %}">{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-4">
    <div class="row row-cols-4 g-4 align-items-stretch">
        {% for product in products %}
        <div class="scope product-cards | -fluid-text">
        <div class="_card-list | grid" style="
            --grid--fill-mode: var(--product-cards--fill-mode, auto-fill);
            --grid--row-gap: var(--product-cards--gap, 1.5rem);
            --grid--column-gap: var(--product-cards--gap, 1.5rem);
            --grid--column-max-count: var(--product-cards--column-max-count, 4);
            --grid--column-min-width: var(--product-cards--column-min-width, 20rem);">

            <section class="_card" style="--product-card--accent: #008bc9;">
                <a href="{% url 'product_detail' product.id %}"></a>
                    <h2 class="_heading | -fluid-text -trim-both" style="--fluid-text--min-font-size: 16;
                    --fluid-text--max-font-size: 24;">{{product.title}}</h2>
                    <div class="_thumbnail-stack">
                        <img src="{{product.image.url}}" alt="" width="400" height="210" fetchpriority="high" />
                        <img src="{{product.image.url}}" alt="" width="400" height="210" fetchpriority="high" />
                    </div>
                    <p class="_price | -trim-both">&dollar;{{product.price}}</p>
                    <p class="_price | -trim-both">Stock:{{product.stock}}</p>
                </a>
                <div class="_button" style="--purchase-button--background: var(--_accent); --purchase-button--foreground: var(--_accent-contrast);">
                    <button  id="buy-btn" data-product-id="{{product.id}}" class="scope purchase-button">Buy now</button>
                </div>
            </section>
        </div>

        <!-- `display: none` can cause SVG filters to be ineffective in Firefox. -->
        <svg width="0" height="0" style="visibility: hidden; position: fixed;">
            <filter id="svg-inset-shadow">
            <feOffset in="SourceAlpha" dx="6" dy="8" />
            <feGaussianBlur in="SourceAlpha" stdDeviation="8" />
            <feComposite in="SourceAlpha" operator="out" />
            <feBlend in2="SourceGraphic" mode="multiply" />
            </filter>
        </svg>
        </div>
        {% endfor %}
    </div>
</div>
{% load static %}
<script src="{% static 'js/productlist.js' %}"></script>
{% endblock %}
