{% extends 'base.html' %}
{% block title %}{{product.title}}{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/productdetail.css' %}">{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-5">
    <div class="row">
        <div class="card h-100 border-0 bg-light shadow mt-3" style="margin-bottom: 100px" >
            <img src="{{product.image.url}}" class="card-img-top rounded-4 p-2 object-fit-cover" style="height: 600px" alt="{{product.title}}">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.description}}</h5>
            </div>
            <ul class="list-group list-group-flush mb-20">
                <li class="list-group-item"> Price: {{product.price}}</li>
                <li class="list-group-item" id="product-stock"> Stock: <span id='stock-count'>{{product.stock}}</span></li>
            </ul>
            <p id="error-msg" style="color:red;"></p>
            <button  id="cartbtn" >Add to cart</button>
            <button  id="buy-btn" data-product-id="{{product.id}}">Buy now</button>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/productdetail.js' %}"></script>
{% endblock %}